/modul-1/230441100115_NafikAliAyahya/nbproject/private/
/modul-1/manusia1/nbproject/private/
/modul-1/manusia 1/nbproject/private/
/modul-1/nafik ali yahya/nbproject/private/
/modul-1/hasilnya/nbproject/private/
/modul-1/nafik ali yahya/build/
/modul-1/nafik/nbproject/private/
/modul-1/tugas/nbproject/private/
/modul-1/nafik/build/
/modul-1/nafik2/nbproject/private/
/modul-1/nafik2/build/
/modul-1/230441100115-NafikAliYahya/nbproject/private/
/modul-1/230441100115-NafikAliYahya/build/
/modul-1/230441100115/nbproject/private/
/modul-1/230441100115/build/
